.checkError{
  height: calc(100% - 50px);
  margin-bottom: 50px;
  .innerCon{
    bottom: 50px;
  }
  &.me{
    margin-bottom: 0;
    height: 100%;
    .innerCon{
      bottom: 0;
    }
    .van-pull-refresh{
      position: absolute;
      top: 50px;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    .con-block{
      position: relative;
      padding-left: 30px;
      &.looked:after{
        content: '';
        display: block;
        position: absolute;
        left: 10px;
        top: 20px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #F03B3B;
      }
      .arrow-r{
        position: absolute;
        right: 10px;
        top: 12px;
      }
      .tags{
        position: absolute;
        right: 10px;
        bottom: 13px;
        .van-tag{
          margin-right: 10px;
        }
      }
    }
  }
  .btn-box{
    padding: 4px 10px;
    background-color: #fff;
    margin-top: 10px;
    //position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }
  .checkError-box{
    margin-top: 10px;
    background-color: #fff;
    .van-image{
      img{
        border-radius: 5px;
      }
    }
    &.pb15{
      padding-bottom: 15px;
    }
    .checkError-box-title{
      font-size:14px;
      font-weight:400;
      color:rgba(102,102,102,1);
      padding: 15px 0 12px 12px;
    }
    .van-uploader{
      margin-left: 15px;
    }
    textarea{
      margin: 0 auto 15px auto;
      display: block;
      width: 330px;
      height:80px;
      background:rgba(244,245,247,1);
      border-radius:5px;
      border: none;
      padding: 10px;
      font-size:14px;
      font-weight:400;
      line-height:20px;
      &::-webkit-input-placeholder{
        color:rgba(153,153,153,1);
        font-weight:400;
      }
      &::-ms-input-placeholder{
        color:rgba(153,153,153,1);
        font-weight:400;
      }
    }
    .checkError-box-item{
      border-bottom: 1px solid #EEEEEE;
      padding: 15px;
      font-size:14px;
      font-weight:400;
      color:rgba(102,102,102,1);
      display: flex;
      &:last-child{
        border-bottom: none;
      }
      .checkError-box-item-key{
        width: 100px;
        min-width: 100px;
      }
      .checkError-box-item-value{
        color:rgba(51,51,51,1);
        .checkError-box-item-value-title{
          font-size:14px;
          font-weight:400;
          color:rgba(51,51,51,1);
        }
        .checkError-box-item-value-msg{
          font-size:12px;
          font-weight:400;
          color:rgba(153,153,153,1);
          line-height:17px;
        }
      }
    }
  }
}
