@import './variables.scss';
h1,h2,h3,h4,h5,p{
  padding: 0;
  margin: 0;
}
html,body,.mainCon{
  height: 100%;
  font-family:PingFangSC-Medium,PingFang SC;
  .van-nav-bar{
    z-index: 999;
  }
}
.color-orange{
  color: $orange;
}
.vin-icon{
  width: 22px;
  height: 13px;
  display: block;
  color: white;
  font-size: 2px;
  text-align: center;
  line-height: 13px;
  background-color: $orange;
}
.title-4{
  height:14px;
  font-size:15px;
  font-weight:400;
  color:rgba(51,51,51,1);
  line-height:14px;
}
.mainCon{
  background:rgba(244,245,247,1);
}
.innerCon{
  position: absolute;
  top: $navbarHeight;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.groupList{
  .van-cell-group{
    margin-top: 10px;
  }
}
.con-block{
  margin: 10px;
  padding: 15px 10px;
  background:rgba(255,255,255,1);
  border-radius:5px;
}
