@import "variables";
.parts{
  .parts-carMessage{
    margin: 10px 0;
    padding:  17px 12px;
    //height: 53px;
    background-color: #fff;
    .parts-carMessage-line1{
      display: flex;
      >img{
        width: 40px;
        height: 40px;
        min-width: 40px;
      }
      >h3{
        margin-left: 12px;
        font-size:15px;
        font-weight:600;
        color:rgba(51,51,51,1);
        line-height:18px;
      }
    }
    .parts-carMessage-line2{
      margin-left: 50px;
      height: 18px;
      display: flex;
      .parts-carMessage-line2-btn1{
        transform: translateY(-8px);
      }
      .vin-icon{
        margin: 2px 10px 2px 2px;
      }
      .vin-line{
        width:200px;
        height:17px;
        font-size:12px;
        font-weight:400;
        color:rgba(153,153,153,1);
        line-height:17px;
        display: block;
      }
    }
  }
  .parts-search{
    height:32px;
    background:rgba(255,255,255,1);
    display: flex;
    padding: 7px 12px;
    >a{
      width:80px;
      height:30px;
      background:rgba(244,245,247,1);
      border-radius:18px;
      font-size:14px;
      font-weight:400;
      color:rgba(51,51,51,1);
      line-height:30px;
      display: block;
      text-align: center;
      margin-right: 10px;
      &.selected{
        background:rgba(235,243,255,1);
        border:1px solid rgba(63,144,247,1);
        color:rgba(63,144,247,1);
      }
    }
  }
  .parts-info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 150px;
    background-color: #fff;
    &.hasVin{
      top: 168px;
      .maintenance .van-sidebar{
        height: 406px;
      }
      .transmission-list{
        height: 452px;
      }
      .maintenance .maintenance-list{
        height: 406px;
      }
    }
  }
}
.transmission-list{
  overflow: auto;
  height: 470px;
  .transmission-list-item{
    border-bottom: 1px solid #EEEEEE;
    font-size:14px;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
    min-height: 50px;
    position: relative;
    .transmission-list-item-key{
      padding: 15px 4px 15px 12px;
      background:rgba(250,250,250,1);
      border-right: 1px solid #EEEEEE;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      float: left;
      display: block;
      width: 80px;
    }
    .transmission-list-item-value{
      margin-left: 100px;
      width: 240px;
      padding: 15px;
      .transmission-list-item-value-item{
        margin: 5px 0;
        display: flex;
        >img{
          width: 46px;
          height: 46px;
          display: block;
        }
        .transmission-list-item-value-item-value{
          margin-left: 10px;
          padding-top: 5px;
          .title-4{
            width: 200px;
          }
          >span{
            height:12px;
            font-size:12px;
            font-weight:400;
            color:rgba(153,153,153,1);
            line-height:12px;
          }
        }
      }
    }
  }

}
.maintenance{
  position: relative;
  //.van-tabs{
  //  .van-tabs__wrap{
  //    margin-right: 42px;
  //  }
  //}
  //.maintenance-search{
  //  position: absolute;
  //  width: 42px;
  //  height: 42px;
  //  top: 0;
  //  right: 0;
  //  background-color: #fff;
  //  z-index: 100;
  //  border:1px solid rgba(238,238,238,1);
  //}
  .maintenance-list{
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 450px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .no-message{
      height: 300px;
      background: url("../assets/no-message.png") no-repeat center;
      background-size: 80%;
      position: relative;
      .van-button{
        position: absolute;
        top: 280px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .maintenance-filter{
      width:269px;
      height:30px;
      background:rgba(250,250,250,1);
      margin: 10px 0 10px 10px;
      padding-left: 10px;
      font-size:14px;
      font-weight:500;
      color:rgba(51,51,51,1);
      line-height:30px;
      .van-popup{
        .van-button{
          display: inline-block;
          width: 50%;
          border-radius: 0;
        }
      }
      .maintenance-filter-brand{
        padding: 10px 5px;
        display: flex;
        flex-wrap: wrap;
        .maintenance-filter-brand-item{
          height: 32px;
          width: 58px;
          background:rgba(244,245,247,1);
          font-size:14px;
          font-weight:400;
          color:rgba(51,51,51,1);
          line-height:30px;
          display: block;
          text-align: center;
          margin: 5px 5px;
          border-radius: 10px;
          border: 1px solid transparent;
          &.selected{
            background: #ebf3ff;
            border: 1px solid #3f90f7;
            color: #3f90f7;
          }
        }
      }
      .maintenance-filter-info{
        .maintenance-filter-item{
          display: flex;
          justify-content: start;
          flex-wrap: wrap;
          padding: 8px;
          >img{
            width: 40px;
            height: 40px;
            margin: 0 10px;
            text-align: center;
          }
          .info-4{
            margin-left: 10px;
          }
        }


      }
      .van-dropdown-menu{
        float: right;
        margin: 0px 10px;
        height:30px;
        font-size:12px;
        font-weight:400;
        color:rgba(102,102,102,1);
        line-height: 30px;
        background-color: transparent;
        border: none;
        &:after{
          border: none;
        }
        .van-dropdown-item--down{
          width: 290px;
          margin-left: 85px;
          margin-top: 5px;
          .van-dropdown-item__content{
            width: 290px;
          }
        }
        .van-dropdown-menu__item{
          border: none;
          .van-dropdown-menu__title{
            &:after{
              border: none;
            }
            border:none;
            line-height: 17px;
            font-size:12px;
            font-weight:400;
            color:rgba(102,102,102,1);
            margin-left: 10px;
          }
        }
      }
      >a{
        float: right;
        margin: 0 10px;
        height:17px;
        font-size:12px;
        font-weight:400;
        color:rgba(102,102,102,1);
      }
    }
    .maintenance-list-wrapper{
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      height: 450px;
    }
    .maintenance-item{
      padding: 15px 10px;
      border-bottom: 1px solid #EEEEEE;
      position: relative;
      display: flex;
      >img{
        width: 73px;
        min-width: 73px;
        height: 73px;
        display: block;
        border:1px solid #EEEEEE;
      }
      .right-box{
        margin-left: 10px;
        .title-4{
          padding-top: 1px;
          width: 260px;
        }
        .errorCheck-icon{
          position: absolute;
          top: 8px;
          right: 15px;
        }
        >span{
          display: block;
          font-size:14px;
          font-weight:400;
          color:rgba(153,153,153,1);
          line-height:16px;
          margin: 5px 0;
        }
      }
    }
  }
  .van-sidebar-item{
    border: none;
    padding: 14px 0 14px 8px;
  }
  .van-sidebar{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 424px;
    background-color: #fafafa;
  }
  .van-sidebar-item--select{
    position: relative;
    .van-sidebar-item__text:before{
      content: '';
      display: block;
      width: 3px;
      height: 20px;
      position: absolute;
      background-color: $blue;
      left: -8px;
    }
  }
}
