.serviceManual-select{
  margin-top: 8px;
  background: #fff;
  padding: 15px 15px 15px 60px;
  position: relative;
  .serviceManual-select-icon{
    position: absolute;
    width: 35px;
    height: 35px;
    background: url("../assets/home_icon_1.png") no-repeat;
    background-size: contain;
    top: 15px;
    left: 15px;
  }
  .van-icon-arrow{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 25px;
    color: #999999;
  }
}
.cell-group-serviceManual{
  position: absolute;
  top: 220px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.indexes{
  padding: 15px 12px 0 12px;
  background-color: #fff;
  font-size:14px;
  font-weight:400;
  color:rgba(63,144,247,1);
}
.serviceManual-popup{
  padding-top: 50px;
  .cell-group{
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  .serviceManual-popup-top{
    display: flex;
    padding-left: 10px;
    padding-bottom: 30px;
    >p{
      font-size:16px;
      font-weight:500;
      color:rgba(241,157,1,1);
      background:rgba(253,247,235,1);
      border-radius:3px;
      padding: 0 3px 0 3px;
      >span{
        font-size:18px;
      }
    }
    .serviceManual-popup-top-title{
      padding-left: 10px;
      font-size:18px;
      font-weight:500;
      color:rgba(0,0,0,1);
    }
  }
}
